.search {
    width: auto;
    height: 300px;
    overflow-x: scroll;
    position: relative;
}

.image-container {
    position: relative;
    transition: transform 0.2s;
    overflow-y: auto;
}

.image-container:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay{
    opacity: 1;
}

.overlay {
    position: static;
    background: rgba(0,0,0,0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}